@model Classroom

<form>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label" asp-for="Id"></label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" value="@Model.Id">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label" asp-for="Name"></label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" value="@Model.Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label" asp-for="Room"></label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" value="@Model.Room">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label" asp-for="Courses"></label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" value="@Model.Courses">
        </div>
    </div>
   
  
    <a class="btn btn-danger" asp-action="Edits" asp-route-id="@Model.Id">Chỉnh sửa</a>

</form>
<a asp-action="Index">&lsaquo;Quay lại</a>