@model IEnumerable<Classroom>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>
                Tên Lớp
            </th>
            <th>Phòng học</th>
            <th>Khóa học</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Room</td>
                <td>@item.Courses</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a asp-action="Students">Students</a>
                </td>
            </tr>
        }
    </tbody>
</table>
